*,*::before,*::after
{
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}
body
{
    padding:0;
    margin: 0%;
    background: linear-gradient(to right , rgb(15, 236, 126) ,#2966e9);
}
.grid
{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,80px);
    grid-gap: 1px;
}
.grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.grid > button:hover{
    transition: ease-in 0.2s;
    background-color: rgba(255, 255, 255, 0.8);
}
.output{
    grid-column: 1/-1;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding:10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .prevOper{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}
.output .currOper{
    color:white;
    font-size: 3.5rem;
}